<div class="recurring_container">
  <% remote_form_for(@recurring_todo,
    :html=> { :id=>'recurring-todo-form', :name=>'recurring_todo', :class => 'inline-form' },
    :before => "$('#recurring_todo_submit').block({message: null})") do |f|
    -%>
    <div id="status"><%= error_messages_for("item", :object_name => 'action') %></div>
  
    <div id="recurring_todo_form_container">
      <div id="recurring_todo">
        <%= f.label :description %>
        <%= f.text_field :description, :size => 30, :tabindex => 1, :maxlength => 100 %>
        <%= f.label :notes %>
        <%= f.text_area :notes, :cols => 29, :rows => 6, :tabindex => 2 %>
        <%= f.label :project_name, "Project" %>
        <%= f.text_field :project_name, :autocomplete => "off", :tabindex => 3, :size => 30 %>
        <%= f.label :context_name, "Context" %>
        <%= f.text_field :context_name, :autocomplete => "off", :tabindex => 3, :size => 30 %>
        <%= f.label :tag_list, "Tags (separate with commas)" %>
        <%= f.text_field :tag_list, :size => 30, :tabindex => 5 -%> 
      </div>
    </div>
    <div id="recurring_period_id">
      <div id="recurring_period">
        <%= f.label :recurring_period, "Recurrence period" %><br/>
        <%= f.radio_button :recurring_period, 'daily' %> Daily<br/>
        <%= f.radio_button :recurring_period, 'weekly' %> Weekly<br/>
        <%= f.radio_button :recurring_period, 'monthly' %> Monthly<br/>
        <%= f.radio_button :recurring_period, 'yearly' %> Yearly<br/>
      </div>
      <div id="recurring_timespan">
        <br/>
        <%= f.label :start_from, "Starts on" %>
        <%= f.text_field :start_from, :size => 12, :class => "Date", :tabindex => 6, :autocomplete => "off" %>
        <br/>
        <%= f.label :ends_on %><br/>
        <%= f.radio_button :ends_on, 'no_end_date' %> No end date<br/>
        <%= f.radio_button :ends_on, 'ends_on_number_of_times' %> Ends after <%= f.text_field :number_of_occurences, :size => 3, :tabindex => 7%> times<br/>
        <%= f.radio_button :ends_on, 'ends_on_end_date' %> Ends on <%= f.text_field :end_date, :class => "Date", :size => 3, :tabindex => 7, :autocomplete => "off" %><br/>
    </div></div>
    <div id="recurring_daily" style="display:block">
      <label>Settings for daily recurring actions</label><br/>
      <%= f.radio_button :daily_selector, 'daily_every_x_day' %> Every <%= f.text_field :daily_every_x_days, :size => 3, :tabindex => 9 %> day(s)<br>
      <%= f.radio_button :daily_selector, 'daily_every_work_day'%> Every work day<br/>
    </div>
    <div id="recurring_weekly" style="display:none">
      <label>Settings for weekly recurring actions</label><br/>
      Repeats every <%= f.text_field :weekly_every_x_week, :size => 3, :tabindex => 9 %> week on<br/>
      <%= f.check_box :weekly_return_monday %> Monday
      <%= f.check_box :weekly_return_tuesday %> Tuesday
      <%= f.check_box :weekly_return_wednesday %> Wednesday
      <%= f.check_box :weekly_return_thursday %> Thursday<br/>
      <%= f.check_box :weekly_return_friday %> Friday
      <%= f.check_box :weekly_return_saturday %> Saturday
      <%= f.check_box :weekly_return_sunday %> Sunday<br/>
    </div>
    <div id="recurring_monthly" style="display:none">
      <label>Settings for monthly recurring actions</label><br/>
      <%= f.radio_button :monthly_selector, 'monthly_every_x_day' %> Day
      <%= f.text_field :monthly_every_x_day, :size => 3, :tabindex => 9 %> on every
      <%= f.text_field :monthly_every_x_month, :size => 3, :tabindex => 10 %> month<br/>

      <%= f.radio_button :monthly_selector, 'monthly_every_xth_day' %>The 
      <%= f.select :monthly_every_xth_day, options_for_select(@xth_day) %>
      <%= f.select :monthly_day_of_week, options_for_select(@days_of_week) %> of every
      <%= f.text_field :monthly_every_x_month2, :size => 3, :tabindex => 11 %> month<br/>
    </div>
    <div id="recurring_yearly" style="display:none">
      <label>Settings for yearly recurring actions</label><br/>
      <%= f.radio_button :yearly_select, 'yearly_every_x_day'%> Every
      <%= f.select :yearly_month_of_year, options_for_select(@months_of_year, Time.zone.now.month) %>
      <%= f.text_field :yearly_every_x_day, :size => 3, :tabindex => 9 %><br/>

      <%= f.radio_button :yearly_selector, 'yearly_every_xth_day' %> The
      <%= f.select :yearly_every_xth_day, options_for_select(@xth_day) %>
      <%= f.select :yearly_day_of_week, options_for_select(@days_of_week, Tome.zone.now.wday) %> of
      <%= f.select :yealry_month_of_year2, options_for_select(@months_of_year, Tome.zone.now.month) %><br/>
    </div>
    <div id="recurring_target">
      <label>Set recurrence on</label><br/>
      <%= f.radio_button :recurring_target, 'due_date'%> the date that the todo is due. Show the todo:
      <%= f.radio_button :recurring_show_always, '1' %> always
      <%= f.radio_button :recurring_show_always, '0' %>

      <%= f.text_field :recurring_show_days_before, :size => 3, :tabindex => 12 %>
      days before the todo is due
      <br>

      <%= f.radio_button :recurring_target, 'show_from_date' %> the date todo comes from tickler (no due date set)<br/>
    </div>
    <div class="recurring_submit_box">
      <div class="widgets">
        <button type="submit" class="positive" id="recurring_todo_submit" tabindex="15">
          <%=image_tag("accept.png", :alt => "") %>
          Create
        </button>
        <button type="button" class="positive" id="recurring_todo_cancel" tabindex="15">
          <%=image_tag("cancel.png", :alt => "") %>
          Cancel
        </button>
      </div>
    </div>
  <% end %>
</div>
